<div class="menu">
    <div class="separete-menu">
      <div style="display: flex; align-items: center; justify-content: center">
        <img
          [width]="profilePicSize()"
          [height]="profilePicSize()"
          src="../../../assets/img/logo.svg"
          [ngClass]="{ 'collapsed-margin': profilePicSize() === '60' }"
          class="toggleableImage"
        />
      </div>
      <div [ngClass]="{ 'center-content': !sideNavCollapsed() }">
        <mat-nav-list>
            <a
            mat-list-item
            class="menu-item"
            *ngFor="let item of menuItems()"
            [routerLink]="item.router"
            routerLinkActive="active-menu-item"
            #rla="routerLinkActive"
        >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
        </a>
        </mat-nav-list>
      </div>
    </div>
    <div class="logout-container">
      <!-- Imagem para o modo claro -->
      <img src="../../../assets/img/nome.svg" class="light-theme-img"    [width]="sideImageName()"
      [height]="profilePicSize()"/>
    
      <!-- Imagem para o modo escuro -->
      <img src="../../../assets/img/nomeClaro.svg" class="dark-theme-img"   [width]="sideImageName()"
      [height]="profilePicSize()"/>
    </div>
    
  </div>
  